* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* headar and navigation style s */
nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 200px;
    align-items: center;
}

.primary-colour {
    color: #FD6E0A;
}

.primary-btn {
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 36px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

/* banner style  */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;

}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}

/* main section style  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style  */
.about-me {
    margin-top: 130px;
    padding: 130px 155px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;

}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    color: #181818;
    text-align: center;

}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.about-info-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.about-info .info-name {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.about-info .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do section start  */
.what-i-do {
    margin-top: 130px;
}

.what-i-do-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
}

.skil-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.skil {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skil-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}